node_modules/
dist/
serviceAccountKey.json
.vercel
keys/

public/libmypatch.so
public/libmypatch.so.sig
public/*/libmypatch.so
public/*/libmypatch.so.sig
android-ndk-r26d/
android-ndk-*/
dump.cs

.env
.env.local
src/env.js
