node_modules/
dist/
serviceAccountKey.json
.vercel
keys/
public/hook.js
public/hook.js.sig
public/libmypatch.so
public/libmypatch.so.sig
public/*/libmypatch.so
public/*/libmypatch.so.sig
android-ndk-r26d/
android-ndk-*/
dump.cs

.env
.env.local
